 {% extends "base.html" %}
         {% block content %}
	

			 <div class="clearfix"></div>
			 <!-- ============================================================== -->
			 <!-- Top header  -->
			 <!-- ============================================================== -->

			 <!-- ============================ Page Title Start================================== -->
			 <section class="page-title pt-0">
			 <div class="image-cover ed_detail_head lg theme-ov" style="background:#f4f4f4 url(https://im.indiatimes.in/media/content/2018/Nov/national_exam_1542712309.jpg);" data-overlay="9">
				 <div class="container">
					<div class="col-lg-12 col-md-12">
							 <div class="breadcrumbs-wrap">
								 <h1 class="breadcrumb-title">Courses</h1>
								 <nav aria-label="breadcrumb">
									 <ol class="breadcrumb">
										 <li class="breadcrumb-item"><a href="#" class="text-white">Home </a></li>
										 <li class="breadcrumb-item active" aria-current="page">Courses </li>
									 </ol>
								 </nav>
							 </div>
						 </div>
				 </div>
			 </div>
			 </section>
			 <!-- ============================ Page Title End ================================== -->			

			
			 <!-- ============================ Full Width Courses  ================================== -->
			 <section class="pt-0">
				 <div class="container">
					 <!-- Row -->
					 <div class="row">	
						
						 <div class="col-lg-12 col-md-12 col-sm-12">
							 <div class="row">
							    <div class="col-lg-12 col-md-6 section-head style-1 text-center mb-30">
					               <h6 class="sub-title bgl-primary m-b20 text-primary"> Examinations </h6>
					               <h4 class="title">Our Special E-Course Examinations</h4>
				             </div>
								 <!-- Cource Grid 1 -->
								 {% for course in courses %}
								 
								 <div class="col-lg-4 col-md-6">
									 <div class="education_block_grid style_2">
										
										 <div class="education_block_thumb n-shadow">
											 <a href="/student/course_details/{{ preference_slug }}/{{ course.slug }}/"><img src="{{ course.web_icon }}" class="img-fluid" alt="" /></a>
										 </div>
										
										<div class="cources_facts">
											 <ul class="cources_facts_list">
												 <li class="facts-1">State Govt. Exam </li>
												 <li class="facts-2">English - Hindi (mixed) </li>
											 </ul>
										 </div>
										
										 <div class="education_block_body">
											 <h4 class="bl-title"><a href="/student/course_details/{{ preference_slug }}/{{ course.slug }}/"> {{ course.name }}</a></h4>
										 </div>
										
										 <div class="cources_info">
											 <div class="cources_info_first">
{{course.description}}										 </div>
										 </div>
										 
										 <div class="cources_info_style3">
											 <ul>
												 {% for category in course.categories %}
												 {% for topics in category.categories_topics %}

												

												 {% endfor %}
												 {% endfor %}
										      <li><i class="ti-control-forward"></i> {{ lec_count }} Lectures </li>
											  <li><i class="ti-file"></i> 10 - 20 weeks </li>
										      <li><i class="ti-files"></i> 54 Test Series </li>
									         </ul>
										 </div>
										
										
										 <div class="education_block_footer">
											 <div class="education_block_author">
												 <div class="foot_lecture"><i class="ti-user"></i> {{ course.enrolled_students }} Student Enrolled </div>
											 </div>
											 <div class="lecture">
											   <a href="/student/course_details/{{ preference_slug }}/{{ course.slug }}/" class="btn btn-primary btn-md">view course</a>
											 </div>
										 </div>
										
									 </div>	
								 </div>
								{% endfor %}

								
						 </div>
					
					 </div>
					 <!-- Row -->
					
				 </div>
			 </section>
			 <!-- ============================ Full Width Courses End ================================== -->
			

		 {% endblock %}

