 {% extends "base.html" %}
         {% block content %}
      <!-- End Navigation -->
      <div class="clearfix"></div>
      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- ============================ Hero Banner  Start================================== -->
      <section class="newsletter themes-bg2 inverse-theme" data-wow-duration="2s" data-wow-delay="0.2s">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 mt-20">
              <div class="text-left">
                <h2 class="text-white title m-b10">All the Current affairs is available in Hindi & English. </h2>
                <p>Our Current affairs analysis consists of two parts - Daily News and Important Editorials. We cover Daily News by choosing the most relevant topics.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div id="testimonials_style" class="slick-carousel-3 arrow_middle">
                    <div class="testimonial-detail">
                      <div class="client-detail-box">
                        <div class="img-responsive">
                          <img src="/static/courses_assets/img/ia.png" alt="imagnus academy online coaching classes" style="height:240px; margin:0 auto;">
                        </div>
                      </div>
                    </div>
                    <div class="testimonial-detail">
                      <div class="client-detail-box">
                        <div class="img-responsive">
                          <img src="/static/courses_assets/img/a3.png" alt="imagnus academy online coaching classes" style="height:240px; margin:0 auto;">
                        </div>
                      </div>
                    </div>
                    <div class="testimonial-detail">
                      <div class="client-detail-box">
                        <div class="img-responsive">
                          <img src="/static/courses_assets/img/a2.png" alt="imagnus academy online coaching classes" style="height:240px; margin:0 auto;">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ============================ Hero Banner End ================================== -->
      <!-- ============================ Featured Courses Start ================================== -->
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-6 section-head style-1 text-center mb-30">
              <h6 class="sub-title bgl-primary m-b20 text-primary"> Current Affairs </h6>
              <h4>Available <span class="theme-cl"> Current Affairs </span>by Categories </h4>
            </div>
          </div>
          <div class="row">
            {% if current_affairs %}
           {% for item in current_affairs %}
            <div class="col-lg-4 col-md-4 col-sm-12">
               
              <div class="card">
                <!-- Single Course -->
                <div class="dashboard_single_course">
                  <div class="dashboard_single_course_caption">
                    <div class="dashboard_single_course_head">
                      <div class="dashboard_single_course_head_flex">
                        <h2 class="dashboard_course_title">Current Affairs: {{ item.month_year }} </h2>
						<span class="dashboard_instructor"> This will help the students in preparing efficiently for the examination. </span>
                      </div>
                    </div>
                    <div class="dashboard_single_course_progress">
                      <div class="dashboard_single_course_progress_2">
                        <ul class="m-0">
                          <a href="/{{item.month_year}}/current_affairs" target="_blank" class="btn btn-primary btn-sm">view details <i class="ti-eye"></i>
                          </a>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
           {% endfor %}
           {%endif %}
         
          </div>
        </div>
      </section>
      <!-- ============================ Featured Courses End ================================== -->
      <!-- ========================== About Facts List Section =============================== -->
    
      <!-- ========================== About Facts List Section =============================== -->
      <!-- ============================== Start Newsletter ================================== -->
     
      <!-- ================================= End Newsletter =============================== -->
      <!-- ============================ Footer Start ================================== -->
     {% endblock %}