{% extends "base.html" %}
         {% block content %}


 <!-- ============================ Dashboard: My Order Start ================================== -->
      <section class="gray pt-0">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-2">
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Purchases</li>
                     </ol>
                  </nav>
               </div>
            </div>
            <!-- Row -->
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12  pt-2 pb-1">
                  <!-- course subscriptions -->
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                           <!-- Course Style 1 For Student -->
                           <div class="dashboard_container">
                              <div class="dashboard_container_header">
                                 <div class="dashboard_fl_1">
                                    <h4>All Purchases</h4>
                                 </div>

                              </div>
                              <div class="dashboard_container_body">
                                 <!-- Single Course -->
                                 <div class="dashboard_single_course">
                                    <div class="dashboard_single_course_thumb">
                                       <img src="https://ik.imagekit.io/imagnus/course_icons/web_icons/imagnus%20intro%20(2).jpg" class="img-fluid" alt="">
                                       <div class="dashboard_action">
                                       </div>
                                    </div>
                                    <div class="dashboard_single_course_caption">
                                       <div class="dashboard_single_course_head">
                                          <div class="dashboard_single_course_head_flex">
                                             <span class="dashboard_instructor">Recruitment Exams</span>
                                             <h2 class="dashboard_course_title">MPPSC Mains - Forest Services</h2>
                                          </div>
                                          <div class="dc_head_right">
                                             <h4 class="dc_price_rate theme-cl">Rs.5000.00</h4>
                                          </div>
                                       </div>
                                       <div class="dashboard_single_course_progress">
                                          <div class="dashboard_single_course_progress_1">
                                             <label>82% Completed</label>
                                             <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                             </div>
                                          </div>
                                          <div class="dashboard_single_course_progress_2">
                                             <ul class="m-0">
                                                <a href="" class="btn btn-primary btn-md">View Details</a>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Single Course -->
                                 <div class="dashboard_single_course">
                                    <div class="dashboard_single_course_thumb">
                                       <img src="https://www.imagnus.in/images/a.png" class="img-fluid" alt="">
                                       <div class="dashboard_action">
                                       </div>
                                    </div>
                                    <div class="dashboard_single_course_caption">
                                       <div class="dashboard_single_course_head">
                                          <div class="dashboard_single_course_head_flex">
                                             <span class="dashboard_instructor">Study Material</span>
                                             <h2 class="dashboard_course_title">MPPSC Prelims 2021 - History of India</h2>
                                          </div>
                                          <div class="dc_head_right">
                                             <h4 class="dc_price_rate theme-cl">Rs.50.00</h4>
                                          </div>
                                       </div>
                                       <div class="dashboard_single_course_progress">
                                          <div class="dashboard_single_course_progress_1">
                                             <label>0% Completed</label>
                                             <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                             </div>
                                          </div>
                                          <div class="dashboard_single_course_progress_2">
                                             <ul class="m-0">
                                                <a href="https://www.imagnus.in/images/blog/default/JUNE%202021%20Current%20Affairs%20E-Book.pdf" target="_blank"  class="btn btn-primary btn-md">Download  Now <i class="ti-download"></i></a>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>

                                  <!-- Single Course -->
                                 <div class="dashboard_single_course">
                                    <div class="dashboard_single_course_thumb">
                                       <img src="https://www.imagnus.in/images/a.png" class="img-fluid" alt="">
                                       <div class="dashboard_action">
                                       </div>
                                    </div>
                                    <div class="dashboard_single_course_caption">
                                       <div class="dashboard_single_course_head">
                                          <div class="dashboard_single_course_head_flex">
                                             <span class="dashboard_instructor">Test Series</span>
                                             <h2 class="dashboard_course_title">MPPSC Prelims 2021 - History of India</h2>
                                          </div>
                                          <div class="dc_head_right">
                                             <h4 class="dc_price_rate theme-cl">Rs.50.00</h4>
                                          </div>
                                       </div>
                                       <div class="dashboard_single_course_progress">
                                          <div class="dashboard_single_course_progress_1">
                                             <label>0% Completed</label>
                                             <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                             </div>
                                          </div>
                                          <div class="dashboard_single_course_progress_2">
                                             <ul class="m-0">
                                                <a href="https://www.imagnus.in/images/blog/default/JUNE%202021%20Current%20Affairs%20E-Book.pdf" target="_blank"  class="btn btn-primary btn-md">Attempt  Now <i class="ti-angle-double-right"></i></a>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Row -->
         </div>
      </section>
      <!-- ============================ Dashboard: My Order Start End ================================== -->

 {% endblock %}