{% extends "base.html" %}
{% block content %}

 <!-- ============================ Dashboard: My Order Start ================================== -->
 <section class="gray pt-0">
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-2">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white">
                   <li class="breadcrumb-item"><a href="#">Home</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
             </nav>
          </div>
       </div>
       <!-- Row -->
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="container">
                <div class="row">
                   <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="dashboard_stats_wrap widget-4">
                         <div class="dashboard_stats_wrap_content">
                            <h4>{{ total_order_count }}</h4>
                            <span>My Orders</span>
                         </div>
                         <div class="dashboard_stats_wrap-icon"><i class="ti-shopping-cart-full"></i></div>
                      </div>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="dashboard_stats_wrap widget-2">
                         <div class="dashboard_stats_wrap_content">
                            <h4>{{ subscription_count }}</h4>
                            <span>My Courses</span>
                         </div>
                         <div class="dashboard_stats_wrap-icon"><i class="ti-check-box"></i></div>
                      </div>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="dashboard_stats_wrap widget-1">
                         <div class="dashboard_stats_wrap_content">
                            <h4>{{ std_m_count }}</h4>
                            <span>My Study Material</span>
                         </div>
                         <div class="dashboard_stats_wrap-icon"><i class="ti-book"></i></div>
                      </div>
                   </div>
                   <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="dashboard_stats_wrap widget-3">
                         <div class="dashboard_stats_wrap_content">
                            <h4>0</h4>
                            <span>Total  Test Series</span>
                         </div>
                         <div class="dashboard_stats_wrap-icon"><i class="ti-share-alt"></i></div>
                      </div>
                   </div>
                </div>
                <!-- Row -->
           
                  <!-- course subscriptions -->
                  
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                           <!-- Course Style 1 For Student -->
                           <div class="dashboard_container">
                              <div class="dashboard_container_header">
                                 <div class="dashboard_fl_1">
                                    <h4>All Purchases</h4>
                                 </div>
                              </div>
                              <div class="container pt-4 pb-1">
                                 <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="property_block_wrap_header">
                                       <ul class="nav nav-tabs customize-tab tabs_creative" id="myTab" role="tablist">
                                          <li class="nav-item">
                                             <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">My Exam Course</a>
                                          </li>
                                          <li class="nav-item">
                                             <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">My Study Material </a>
                                          </li>
                                          <li class="nav-item">
                                             <a class="nav-link" id="upgrade-tab" data-toggle="tab" href="#upgrade" role="tab" aria-controls="upgrade" aria-selected="false">My Test Series </a>
                                          </li>
                                       </ul>
                                    </div>
                                    <div class="tab-content tabs_content_creative" id="myTabContent">
                                       <!-- general Query -->
                                       <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                                          <div class="accordion" id="generalac">
                                            {% if subscriptions: %}
                                            {% for subscription in subscriptions: %}
                                             <div class="card">
                                                <!-- Single Course -->
                                                <div class="dashboard_single_course">
                                                   <div class="dashboard_single_course_thumb">
                                                      <img src="{{ subscription.subscription.course.web_icon }}" class="img-fluid" alt="">
                                                      <div class="dashboard_action">
                                                      </div>
                                                   </div>
                                                   <div class="dashboard_single_course_caption">
                                                      <div class="dashboard_single_course_head">
                                                         <div class="dashboard_single_course_head_flex">
                                                            <span class="dashboard_instructor">{{ subscription.subscription.course.preference.name }}</span>
                                                            <h2 class="dashboard_course_title">{{ subscription.subscription.course.name }}</h2>
                                                         </div>
                                                         <div class="dc_head_right">
                                                            <h4 class="dc_price_rate theme-cl">Rs.{{ subscription.subscription.plan_price }}</h4>
                                                         </div>
                                                      </div>
                                                      <div class="dashboard_single_course_progress">
                                                         <div class="dashboard_single_course_progress_1">
                                                            <label>0% Completed</label>
                                                            <div class="progress">
                                                               <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                         </div>
                                                         <div class="dashboard_single_course_progress_2">
                                                            <ul class="m-0">
                                                               <a href="/student/dashboard/{{ subscription.subscription.course.id }}/" class="btn btn-primary btn-md">View Course <i class="ti-angle-double-right"></i></a>
                                                            </ul>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             {% endfor %}
                                             {% else %}

                                             <div class="row justify-content-center">
                                                <div class="col-lg-6 col-md-10">
                                                   <div class="text-center">
                                                      <img src="/static/courses_assets/img/cart.png" class="img-fluid pt-4 mb-10" alt="" style="height:200px;">
                                                      <h4>No purchases yet</h4>
                                                      <p>Let’s go checkout how i-Magnus can help you boost your score!</p>
                                                      
                                                      <a class="btn btn-primary btn-lg" href="/student/preference/">Go to Courses <i class="ti-angle-double-right"></i></a>
                                                      <!-- <a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.smcln.imagnus">Download our App <i class="ti-angle-double-right"></i></a> -->

                                                   </div>
                                                </div>
                                             </div>
                                             
                                             <!-- <p class="text-center m-t50">Nothing Found Here :(</p> -->
                                             {% endif %}


                                          </div>
                                       </div>
                                       <!--  My study material starts here -->
                                       
                                       <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                          <div class="accordion" id="paymentac">
                                             {% if std_ms:%}
                                             {% for std_m in std_ms: %}
                                             {% set inner_loop = loop %}
                                             {% for items in std_m.order_StudyMaterialOrderInstance %}
                                             
                                             <div class="card">
                                                <div class="dashboard_single_course">
                                                   <div class="dashboard_single_course_thumb">
                                                      <img src="{{ items.item_id.web_icon }}" class="img-fluid" alt="">
                                                      <div class="dashboard_action">
                                                      </div>
                                                   </div>
                                                   <div class="dashboard_single_course_caption">
                                                      <div class="dashboard_single_course_head">
                                                         <div class="dashboard_single_course_head_flex">
                                                            <!-- <span class="dashboard_instructor"></span> -->
                                                            <h2 class="dashboard_course_title">{{ items.item_id.name }}</h2>
                                                         </div>
                                                         <div class="dc_head_right">
                                                            <h4 class="dc_price_rate theme-cl">Rs.{{ items.item_id.discount_price }}</h4>
                                                         </div>
                                                      </div>
                                                      <div class="dashboard_single_course_progress">
                                                         <div class="dashboard_single_course_progress_1">
                                                            <label><span id="show_percentage{{ inner_loop.index }}">0</span> % Completed</label>
                                                            <div class="start-download" id="start-download{{ inner_loop.index }}">Starting Download...</div>
                                                            <div id=download-ui-container">
                                                             
                                                               <div class="download-progress-container" id="download-progress-container{{ inner_loop.index }}"><div class="download-progress" id="download-progress{{ inner_loop.index }}"></div></div>
                                                             
                                                            </div>
                                                         </div>
                                                         <div class="dashboard_single_course_progress_2">
                                                            <ul class="m-0">
                                                               <button id="download-button{{ inner_loop.index }}" data-index="{{ inner_loop.index }}" data-mat-id="{{ items.id }}" class="btn btn-primary btn-md download_material">Download  Now <i class="ti-download" data-mat-id="{{ items.id }}"></i></button>
                                                               <a class="btn btn-primary btn-md save-file" id="save-file{{ inner_loop.index }}">Save File</a>
                                                            </ul>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             {% endfor %}
                                             {% endfor %}
                                             {% else %} 

                                             <div class="row justify-content-center">
                                                <div class="col-lg-6 col-md-10">
                                                   <div class="text-center">
                                                      <img src="/static/courses_assets/img/cart.png" class="img-fluid pt-4 mb-10" alt="" style="height:200px;">
                                                      <h4>No purchases yet</h4>
                                                      <p>Let’s go checkout how i-Magnus can help you boost your score!</p>
                                                      <a class="btn btn-primary btn-lg" href="/exam_study_material/">Go to Study Material <i class="ti-angle-double-right"></i></a>
                                                   </div>
                                                </div>
                                             </div>

                                             <!-- <p style="text-align:center;">Nothing Found Here :( </p> -->
                                             {% endif %}
                                          </div>
                                       </div>

                                       <div class="tab-pane fade" id="upgrade" role="tabpanel" aria-labelledby="general-tab">
                                          <div class="accordion" id="generalac">
                                            {% if testseries: %}
                                            {% for subscription in subscriptions: %}
                                             <div class="card">
                                                <!-- Single Course -->
                                                <div class="dashboard_single_course">
                                                   <div class="dashboard_single_course_thumb">
                                                      <img src="{{ subscription.subscription.course.web_icon }}" class="img-fluid" alt="">
                                                      <div class="dashboard_action">
                                                      </div>
                                                   </div>
                                                   <div class="dashboard_single_course_caption">
                                                      <div class="dashboard_single_course_head">
                                                         <div class="dashboard_single_course_head_flex">
                                                            <span class="dashboard_instructor">{{ subscription.subscription.course.preference.name }}</span>
                                                            <h2 class="dashboard_course_title">{{ subscription.subscription.course.name }}</h2>
                                                         </div>
                                                         <div class="dc_head_right">
                                                            <h4 class="dc_price_rate theme-cl">Rs.{{ subscription.subscription.plan_price }}</h4>
                                                         </div>
                                                      </div>
                                                      <div class="dashboard_single_course_progress">
                                                         <div class="dashboard_single_course_progress_1">
                                                            <label>0% Completed</label>
                                                            <div class="progress">
                                                               <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                         </div>
                                                         <div class="dashboard_single_course_progress_2">
                                                            <ul class="m-0">
                                                               <a href="/student/dashboard/{{ subscription.subscription.course.id }}/" class="btn btn-primary btn-md">View Course <i class="ti-angle-double-right"></i></a>
                                                            </ul>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             {% endfor %}
                                             {% else %}

                                             <div class="row justify-content-center">
                                                <div class="col-lg-6 col-md-10">
                                                   <div class="text-center">
                                                      <img src="/static/courses_assets/img/cart.png" class="img-fluid pt-4 mb-10" alt="" style="height:200px;">
                                                      <h4>No purchases yet</h4>
                                                      <p>Let’s go checkout how i-Magnus can help you boost your score!</p>
                                                      <a class="btn btn-primary btn-lg" href="/student/preference/">Go to Testseries <i class="ti-angle-double-right"></i></a>
                                                   </div>
                                                </div>
                                             </div>
                                             
                                             <!-- <p class="text-center m-t50">Nothing Found Here :(</p> -->
                                             {% endif %}


                                          </div>
                                       </div>
                                       
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  
               
                <!-- /Row -->
             </div>
          </div>
          <!-- Row -->
       </div>
       <!-- /Row -->
    </div>
</div>
<!-- Row -->
</div>
</section>
<!-- ============================ Dashboard: My Order Start End ================================== -->



<!-- model for imagnus app -->





{% endblock %}