
{% extends "base.html" %}
{% block content %}


<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero_banner newsletter themes-bg inverse-theme hero-inner-2" data -overlay="0">
    <div class="container">
        <!-- Type -->
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="banner-search-2 transparent">
                    <h1 class="big-header-capt text-white cl_2 mb-2 f_2">Get ready for classes for all exams</h1>
                    <p>Study any topic, anytime. Explore thousands of courses for the lowest price ever!<br> Learn from India's best teachers and clear your doubts in real time. Schedule timely reminders and study in the comfort of your home. Learn and compete with other students in real time.</p>
                    
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="flixio pt-2 pb-2">
                    <img class="img-fluid" src="/static/courses_assets/img/a3.png" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->

<!-- ============================ Trips Facts Start ================================== -->
<div class="trips_wrap full colored" style="    background: #da0b4e;">
    <div class="container">
        <div class="row m-0">
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="trips">
                    <div class="trips_icons">
                        <i class="ti-video-camera"></i>
                    </div>
                    <div class="trips_detail">
                        <h4>Exam Courses</h4>
                        <p>Lift the capability of the students.Video lectures,test series and notes covering each and every concept.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="trips">
                    <div class="trips_icons">
                        <i class="ti-medall"></i>
                    </div>
                    <div class="trips_detail">
                        <h4>Study Material</h4>
                        <p>Pre-class & Post-class notes will help students in developing an in-depth knowledge of the subject.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="trips none">
                    <div class="trips_icons">
                        <i class="ti-infinite"></i>
                    </div>
                    <div class="trips_detail">
                        <h4>Test Series & Quizzes</h4>
                        <p>Evaluate your preparation with our regular test series and get detailed analysis on your performance.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ============================ Trips Facts Start ================================== -->

<!-- ========================== Featured Category Section =============================== -->
<section>
    <div class="container">
    
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <p>Popular Category</p>
                    <h2><span class="theme-cl"></span> Category For Learn</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-1">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/static/courses_assets/img/content.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Exam Courses</a></h4>
                        <div class="mt-2">
                          <a href="#" class="btn btn-modern light">Enroll Now<span><i class="ti-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-2">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/static/courses_assets/img/briefcase.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Study Material</a></h4>
                        <div class="mt-2">
                          <a href="#" class="btn btn-modern dark">Enroll Now<span><i class="ti-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>							
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="edu_cat_2 cat-3">
                    <div class="edu_cat_icons">
                        <a class="pic-main" href="#"><img src="/static/courses_assets/img/career.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="edu_cat_data">
                        <h4 class="title"><a href="#">Test Series</a></h4>
                        <div class="mt-2">
                          <a href="#" class="btn btn-modern light">Enroll Now<span><i class="ti-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>							
            </div>
            
        </div>
        
    </div>
</section>
<!-- ========================== Featured Category Section =============================== -->
<!-- ============================ Featured Courses End ================================== -->



<!-- ========================== About Facts List Section =============================== -->
<section class="bg-light">
    <div class="container">
        
        <div class="row align-items-center">
        
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap">
                    <div class="sec-heading mb-3">
                        <h2> Benefits  & <span class="theme-cl">Features</span></h2>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-desktop"></i></div>
                        <div class="list_facts_caption">
                            <h4>Updated Syllabus</h4>
                            <p>Each and every aspect of the topic described in compliance with the updated syllabus.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-heart"></i></div>
                        <div class="list_facts_caption">
                            <h4>Important Facts</h4>
                            <p>All the relevant topics cover introduction, features, important facts and figures, analysis, etc.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-harddrives"></i></div>
                        <div class="list_facts_caption">
                            <h4>Boost Understanding</h4>
                            <p>The notes have a proper linkage of subjects with current affairs to boost understanding.</p>
                        </div>
                    </div>
                    
                </div>
            
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap_img">
                    <img src="/static/courses_assets/img/ic.png" class="img-fluid" alt="" />
                    
                </div>
            </div>

        </div>
        
    </div>
</section>
<!-- ========================== About Facts List Section =============================== -->

{% endblock %}