{% extends "base.html" %}
{% block content %}
      <div class="wrapper">
         <div class="sa4d25">
            <div class="container">
               <div class="row">

                  {% for message in get_flashed_messages(request) %}
                  <!-- <div class="{{ message.category }}">{{ message.message }}</div> -->
                  
                  
                  <div class="alert alert-{{ message.category }} alert-dismissible fade show " role="alert">
                  
                     <div style="text-align:center !important;">
                        <b>{{ message.message }}</b>
                  
                     </div>
                     <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                  
                  </div>
                  
                  
                  {% endfor %}


                  <div class="col-lg-12">
                     <h2 class="st_title"><i class="uil uil-book"></i> Add Subscription Plan </h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-5">
                     <div class="top_countries mt-30">
                        <div class="top_countries_title">
                           <h2> Subscription Plan</h2>
						   
						   <button class="btn btn-danger mt-30 st_title" data-toggle="modal" data-target="#course" style="margin-left:20px;">add subscription </button>
                        </div>
                       
                     </div>
                  </div>
                  <div class="col-lg-8 col-md-7">
                     <div class="table-responsive mt-30">
                        <table class="table ucp-table earning__table">
                           <thead class="thead-s">
                              <tr>
                                 <th class="text-center" scope="col">ID </th>
                                 <th class="text-center" scope="col">Student </th>
                                 <th class="text-center" scope="col">Course Name </th>
                                 <th class="text-center" scope="col">Amount  </th>
								 <th class="text-center" scope="col">Validity  </th>
                                 <th class="text-center" scope="col">Creation Date </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td class="text-center">IM-001 </td>
								 <td class="text-center"><strong class="text-danger">jatin saini <br>8871160997 <strong></td>
                                 <td class="text-center">MPPSC Mains </td>
                                 <td class="text-center">10000 </td>
                                 <td class="text-center">1 Month </td>
								  <td class="text-center">24 Jun 2022, 07:03:24 PM </td>
                              </tr>
                             
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Modal for add preference-->
        
         <!-- Modal for add courses-->
         <div id="course" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
               <!-- Modal content-->
               <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" style="text-align: right;
                     margin-right: 5px;">&times;</button>
                  <div class="modal-header">
                     <h4 class="modal-title">Add Subscription Plan</h4>
                  </div>
                  <form method="post" action="/admin/place_manual_order/">
                  <div class="modal-body row">
                     
				  <div class="col-lg-6 col-md-6 mt-10">
                        <div class="ui search focus lbel25">
                           <label>Mobile Number* </label>
                           <div class="ui left icon input swdh19">
                              <input name="phone_number" class="prompt srch_explore" type="text" placeholder="+91 |  Phone Number">
                              <div class="badge_num">10 </div>
                           </div>
                        </div>
                     </div>
                     
					 <div class="col-lg-6 col-md-6 mt-10">
                        <div class="lbel25">
                           <label>Course Category* </label>
                        </div>
                        <select name="course_id" onchange="getSubscriptionPlans()" id="selected_course" class="ui hj145 dropdown cntry152 prompt srch_explore">
                           <option value="">Select course ></option>
                              {% for course in courses %}
                           <option value="{{course.id }}">{{ course.name }}</option>
                           {% endfor %}
                        </select>
                     </div>
					 
					 <div class="col-lg-12 col-md-12 mt-12">
                        <div class="lbel25">
                           <label>Subscription Package* </label>
                        </div>
                        <select name="subscription_id" id="subscription_plans" class="ui hj145 dropdown cntry152 prompt srch_explore">
                           <option value="" disabled>Select Package 
                          
                        </select>
                     </div>
					 
					  <!-- <div class="col-lg-6 col-md-6 mt-10">
                        <div class="lbel25">
                           <label>Subscription Validity* </label>
                        </div>
                        <select class="ui hj145 dropdown cntry152 prompt srch_explore">
                           <option value="" disabled>Select Validity* 
                           <option value="1">1 Month</option>
                           <option value="2">3 Month </option>
                        </select>
                     </div> -->
					 
                     <!-- <div class="col-lg-6 col-md-6 mt-10">
                        <div class="ui search focus lbel25">
                           <label>Course Price* </label>
                           <div class="ui left icon input swdh19">
                              <input class="prompt srch_explore" type="text" value="Rs. 10000">
                           </div>
                        </div>
                     </div> -->
					 
					 <div class="col-lg-6 col-md-6 mt-10">
                        <div class="ui search focus lbel25">
                           <label>Discount Price* </label>
                           <div class="ui left icon input swdh19">
                              <input name="discount_price" class="prompt srch_explore" type="text" placeholder="enter package discount price">
                           </div>
                        </div>
                     </div>
					 
					 
                     <div class="col-lg-12 col-md-6 mt-20">
                        <button type="submit" class="btn btn-success"> Submit Plan</button>
                     </div>
                  </div>
               </form>
                
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              
              
               </div>
            </div>
         </div>
        
      </div>
      {% endblock %}