<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Student Login || I-Magnus Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <!-- External CSS libraries -->
    <link
      type="text/css"
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/assets/fonts/font-awesome/css/font-awesome.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="/assets/fonts/flaticon/font/flaticon.css"
    />

    <!-- Favicon icon -->
    <link
      rel="shortcut icon"
      href="/static/student_assets/images/fav.png"
      type="image/x-icon"
    />

    <!-- Google fonts -->

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      id="style_sheet"
      href="/assets/css/skins/default.css"
    />
  </head>
  <body id="top">
    <div class="page_loader"></div>
    <a href="https://imagnus.in/"
      ><img
        src="https://static.thenounproject.com/png/2916768-200.png"
        class="back mt-20"
    /></a>
    <!-- Login 14 start -->
    <div class="login-14">
      <div class="container">
        <div class="row login-box">
          <div class="col-lg-8 col-md-12 bg-img none-992 align-self-center">
            <div class="info">
              <div class="btn-section clearfix">
                <a href="login.html" class="link-btn active btn-1"
                  >Student Login
                </a>
                <div class="clearfix"></div>
                <a href="register.html" class="link-btn btn-1">Register </a>
                <div class="clearfix"></div>
                <a href="admin.html" class="link-btn btn-1 default-bg"
                  >Admin Login
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 bg-color-16 align-self-center">
            <div class="form-section">
              <div class="logo-2 clearfix">
                <a href="login-14.html">
                  <img src="/assets/img/logos/logo-2.png" alt="logo" />
                </a>
              </div>
              <h3>Admin Login</h3>
              <div class="login-inner-form">
                <form action="#" method="GET">
                  <div class="form-group form-box">
                    <input
                      type="number"
                      name="number"
                      class="input-text"
                      placeholder="+91 | Phone Number"
                    />
                    <i class="fa fa-mobile"></i>
                  </div>
                  <div class="form-group form-box">
                    <input
                      type="password"
                      name="Password"
                      class="input-text"
                      placeholder="Enter Password"
                    />
                    <i class="flaticon-password"></i>
                  </div>
                  <div class="checkbox clearfix">
                    <div class="form-check checkbox-theme">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="rememberMe"
                      />
                      <label class="form-check-label" for="rememberMe">
                        Remember me
                      </label>
                    </div>
                    <a href="forgot-password.html">Forgot Password </a>
                  </div>
                  <div class="form-group mb-0">
                    <button type="submit" class="btn-md btn-theme btn-block">
                      Login
                      <i
                        class="fa fa-arrow-circle-right float-right"
                        aria-hidden="true"
                        style="margin-top: 2px"
                      ></i>
                    </button>
                  </div>
                  <p class="text">
                    Don't have an account?
                    <a href="register.html"> Register here </a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Login 14 end -->

    <!-- External JS libraries -->
    <script src="/assets/js/jquery-2.2.0.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Custom JS Script -->
  </body>
</html>
