<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>Student Login || I-Magnus </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta charset="UTF-8" />
     <!-- External CSS libraries -->
     <link type="text/css" rel="stylesheet" href="/static/student_assets/css/bootstrap.min.css" />

     <!-- Favicon icon -->
     <link rel="shortcut icon" href="/static/student_assets/images/fav.png" type="image/x-icon" />
     
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- Google fonts -->

     <!-- Custom Stylesheet -->
<!--     <link type="text/css" rel="stylesheet" href="/static/student_assets/css/style.css" />-->

     <link rel="icon" type="image/png" href="/static/admin/images/fav.png" />
      <link href="/static/admin/vendor/unicons-2.0.1/css/unicons.css" rel='preload' as="style"/>
      <link href="/static/admin/css/vertical-responsive-menu1.min.css" rel="preload" as="style"/>
      <link href="/static/student_assets/css/instructor-dashboard.css" rel="preload" as="style"/>
      <link href="/static/admin/css/instructor-responsive.css" rel="preload" as="style"/>
      <link href="/static/admin/css/night-mode.css" rel="preload" as="style"/>
      <link href="/static/admin/css/jquery-steps.css" rel="preload" as="style"/>
      <link href="/static/admin/vendor/fontawesome-free/css/all.min.css" rel="preload" as="style"/>
      <link href="/static/admin/vendor/OwlCarousel/assets/owl.carousel.css" rel="preload" as="style"/>
      <link href="/static/admin/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="preload" as="style"/>
      <link href="/static/admin/vendor/bootstrap/css/bootstrap.min.css" rel="preload" as="style"/>
      <link rel="preload" type="text/css" href="/static/admin/vendor/semantic/semantic.min.css" as="style"/>
      <link rel="stylesheet" type="text/css" href="/static/admin/css/js-snackbar.css?v=1.3" />


      <link href="/static/admin/vendor/unicons-2.0.1/css/unicons.css" rel='stylesheet' />
      <link href="/static/admin/css/vertical-responsive-menu1.min.css" rel="stylesheet" />
      <link href="/static/student_assets/css/instructor-dashboard.css" rel="stylesheet" />
      <link href="/static/admin/css/instructor-responsive.css" rel="stylesheet" />
      <link href="/static/admin/css/night-mode.css" rel="stylesheet" />
      <link href="/static/admin/css/jquery-steps.css" rel="stylesheet" />
      <link href="/static/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
      <link href="/static/admin/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet" />
      <link href="/static/admin/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet"/>
      <link href="/static/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="/static/admin/vendor/semantic/semantic.min.css" />
      <link href="/static/student_assets/css/test.css" rel="stylesheet" />
</head>
<body>
<header class="header clearfix">
         <div class="main_logo" id="logo">
            <a href="/student/dashboard/{{cid}}/"><img src="https://www.imagnus.in/images/logo.png" class="logo" alt=""></a>
            <a href="/student/dashboard/{{cid}}/"><img class="logo-inverse logo" src="https://www.imagnus.in/images/logo.png" alt="" /></a>
         </div>
         <button type="button" id="toggleMenu" class="toggle_menu">
         <i class='uil uil-bars'></i></button>
         <button id="collapse_menu" class="collapse_menu">
         <i class="uil uil-bars collapse_menu--icon "></i>
         <span class="collapse_menu--label"></span>
         </button>
         <div class="header_right">
            <ul>
               <li class="ui dropdown">
                  <a href="#" class="option_links" title="Notifications"><i class='uil uil-bell'></i><span class="noti_count">0 </span></a>
         
               </li>
               <li class="ui dropdown">
                  <a href="#" class="opts_account" title="Account">
                  <img src="https://icon-library.com/images/student-icon-transparent/student-icon-transparent-27.jpg" alt="" />
                  </a>
                  <div class="menu dropdown_account">
                     <div class="channel_my">
                        <div class="profile_link">
                           <img src="https://icon-library.com/images/student-icon-transparent/student-icon-transparent-27.jpg" alt="" />
                           <div class="pd_content">
                              <div class="rhte85">
                                 <h6>{{student.fullname}} </h6>
                                 <div class="mef78" title="Verify">
                                    <i class='uil uil-check-circle'></i>
                                 </div>
                              </div>
                              <span><a href="../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="2e494f434c4142171a1d6e49434f4742004d4143">[{{student.email}}] </a></span>
                           </div>
                        </div>
                        <!-- <a href="my_instructor_profile_view.html" class="dp_link_12">View Instructor Profile </a> -->
                     </div>
                     <div class="night_mode_switch__btn">
                        <a href="#" id="night-mode" class="btn-night-mode">
                        <i class="uil uil-moon"></i> Night mode
                        <span class="btn-night-mode-switch">
                        <span class="uk-switch-button"></span>
                        </span>
                        </a>
                     </div>
                     <!-- <a href="setting.html" class="item channel_item">Setting </a> -->

                     <a ><form id="logout_form" action="/logout/" method="post" >
											 <span onclick="document.getElementById('logout_form').submit();">Logout </span></form></a>
                  </div>
               </li>
            </ul>
         </div>
      </header>
      <nav class="vertical_nav">
         <div class="left_section menu_left" id="js-menu">
            <div class="left_section">
               <ul>
                  <li class="menu--item ">
                     <a href="/student/dashboard/{{cid}}/" class="menu--link {{'active' if home_active else ''}}" title="Dashboard">
                     <i class="uil uil-apps menu--icon"></i>
                     <span class="menu--label">Dashboard </span>
                     </a>
                  </li>

                  <li class="menu--item">
                     <a href="/student/live_classes/{{cid}}/" class="menu--link {{'active' if live_classes_active else ''}}" title="Courses">
                     <i class='uil uil-kayak menu--icon'></i>
                     <span class="menu--label">Live Classes</span>
                     </a>
                  </li>
                  <li class="menu--item">
                     <a href="/student/video_lectures/{{cid}}/" class="menu--link {{'active' if video_lectures else ''}}" title="Video Lectures">
                     <i class="uil uil-play menu--icon"></i>
                     <span class="menu--label">Video Lectures </span>
                     </a>
                  </li>
                  <li class="menu--item">
                     <a href="/student/test_series/{{cid}}/" class="menu--link {{'active' if test_series_active else ''}}" title="Courses">
                     <i class='uil-clipboard-alt menu--icon'></i>
                     <span class="menu--label">Test Series</span>
                     </a>
                  </li>
                  <li class="menu--item">
                     <a href="/student/pdf_notes/{{cid}}/" class="menu--link {{'active' if pdf_notes_active else ''}}" title="Courses">
                     <i class='uil uil-book-alt menu--icon'></i>
                     <span class="menu--label">PDF Notes</span>
                     </a>
                  </li>
                  <!-- <li class="menu--item">
                     <a href="instructor_notifications.html" class="menu--link {{'active' if active else ''}}" title="Notifications">
                     <i class='uil uil-bell menu--icon'></i>
                     <span class="menu--label">Notifications </span>
                     </a>
                  </li> -->
               </ul>
            </div>
            <div class="left_section pt-2">
               <ul>
                  <li class="menu--item">
                     <a href="/student/new-dashboard/" class="menu--link {{'active' if active else ''}}" title="Switch Course">
                     <i class='uil uil-cog menu--icon'></i>
                     <span class="menu--label">Switch Course </span>
                     </a>
                  </li>
                  <!-- <li class="menu--item">
                     <a href="feedback.html" class="menu--link" title="Send Feedback">
                     <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                     <span class="menu--label">Send Feedback </span>
                     </a>
                  </li> -->
               </ul>
            </div>
         </div>
      </nav>
       <div class="wrapper">

        {% block content %}{% endblock %}


 <footer class="footer mt-40">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="footer_bottm">
                        <div class="row">
                           <div class="col-md-6">
                              <ul class="fotb_left">
                                 <li>
                                    <a href="index.html">
                                       <div class="footer_logo">
                                          <img src="images/fav.png" alt="" />
                                       </div>
                                    </a>
                                 </li>
                                 <li>
                                    <p>© 2021  <strong>Imagnus </strong>. All Rights Reserved. </p>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>

 <!-- External JS libraries -->
 
 <script src="/static/courses_assets/js/jquery.min.js"></script>
 <script src="/static/courses_assets/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script> <!-- <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
 <script src="js/vertical-responsive-menu.min.js"></script>
<script src="/static/student_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/student_assets/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/static/student_assets/vendor/semantic/semantic.min.js"></script>
<script src="/static/student_assets/js/custom1.js"></script>
<script src="/static/student_assets/js/night-mode.js"></script>
<script src="/static/admin/js/js-snackbar.js"></script>
   <script src="/static/student_assets/js/core.js"></script>
   <script src="/static/student_assets/js/cipher-core.js"></script>
<script src="/static/student_assets/js/aes.js"></script>
<script src="/static/student_assets/js/tripledes.js"></script>
<script src="/static/student_assets/js/enc-base64.js"></script>
 <script type="text/javascript">

     
      //prefixes of implementation that we want to test
      window.indexedDB = window.indexedDB || window.mozIndexedDB ||
         window.webkitIndexedDB || window.msIndexedDB;

      //prefixes of window.IDB objects
      window.IDBTransaction = window.IDBTransaction ||
         window.webkitIDBTransaction || window.msIDBTransaction;
      window.IDBKeyRange = window.IDBKeyRange || window.webkitIDBKeyRange ||
         window.msIDBKeyRange

      if (!window.indexedDB) {
         window.alert("Your browser doesn't support a stable version of IndexedDB.")
      }

   
      var db;
      var request = window.indexedDB.open("Imagnus", 1);

      request.onerror = function (event) {
         console.log("error: ");
      };

      request.onsuccess = function (event) {
         db = request.result;
         console.log("success: " + db);
      };

      request.onupgradeneeded = function (event) {
         var db = event.target.result;
         var objectStore = db.createObjectStore("test_series", { keyPath: "id",autoIncrement: true });

       
      }

// working with IndexDB

   function add(chosen) {
      var request = db.transaction(["test_series"], "readwrite")
         .objectStore("test_series")
         .add({ name: chosen });

   }

    function readAllAns() {
         var state_arr = []
               var objectStore = db.transaction("test_series").objectStore("test_series");

               objectStore.openCursor().onsuccess = function (event) {
                  var cursor = event.target.result;
                
                  if (cursor) {
                     state_arr.push(cursor.value.name)

                  cursor.continue();
                 
                  } 

                  final_arr = JSON.stringify(state_arr)
                  console.log(final_arr)
                  $('#answer_state_data').val(final_arr)
                    var req = window.indexedDB.deleteDatabase("Imagnus");

                  $('#submit_test_series').submit()

                   
               };
               
            }


      function removeStateAns() {
         var request = db.transaction(["test_series"], "readwrite")
            .objectStore("test_series")
            .delete();

         request.onsuccess = function (event) {
<!--            alert("Kenny's entry has been removed from your database.");-->
         };
      }
      // removeStateAns()

//Near checkboxes
   var key = CryptoJS.enc.Base64.parse("#base64Key#");
   var iv = CryptoJS.enc.Base64.parse("#base64IV#");

  $('.form-check-input').on('change', function() {
        $('.form-check-input').not(this).prop('checked', false);
    });
    $(document).on('click','#pref_submit_btn', function(){
         pref_slug = $('.form-check-input:checked').val()
		   if(pref_slug){
		     document.location.href='/student/courses/'+pref_slug+'/'
		   }else{
		     alert('preference not selected! ')
		   }

		})


		//timer
   var arr = []
$(document).on('click', '#submit_question', function(e){
  let chosen = $('[name="example1"]:checked').val()
   let callback = e.target.getAttribute('data-callback')

   //  $.post(callback, {"chosen":chosen},function(res){

   //       alert(res)
   //  })



   
   if(typeof(chosen) === "undefined"){
     
      chosen = '';
   }
   add(chosen)
   arr.push(chosen)

   var text = JSON.stringify(arr);
  

   // var encrypted = CryptoJS.AES.encrypt(text, key, { iv: iv });
   // console.log(encrypted.toString());
   
   // localStorage.setItem("test_series_state", encrypted.toString())
   // const testState = localStorage.getItem('test_series_state')
   // var decrypted = CryptoJS.AES.decrypt(encrypted, key, { iv: iv });
   // console.log(decrypted.toString(CryptoJS.enc.Utf8));
   
  
   
   
   //  console.log(arr)
   function runsnackbar(message){
      SnackBar({
            message: message,
            status: "success",
            position: "bl" // bl, tl, tr, br
         });

}

    $.ajax({
                url: callback,
                type: "post", //Change this to post or put
                data: JSON.stringify({"chosen":chosen}),
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                  if(data.status){
                   $('#new_qsn_no').text(data.counter)
                   $('#new_qsn').text(data.qstn_content.qstn)
                   $('#opt_1_text').text(data.qstn_content.opt_1)
                   $('#opt_2_text').text(data.qstn_content.opt_2)
                   $('#opt_3_text').text(data.qstn_content.opt_3)
                   $('#opt_4_text').text(data.qstn_content.opt_4)
                  if(data.nx){
                     nx = data.nx
                  }else{
                     nx = null
                  }
                  $('#new_qsn_no').text(data.counter+1)  
                  callback = '/student/submit/testSeriesQstns/'+data.cid+'/'+data.tid+'/'+data.qstn_content.id+'/'+nx+'/'+data.counter+'/'
                  $('#submit_question').attr('data-callback',callback)
                  $('input[name="example1"]').prop('checked', false);
                   }else{
                  

                     SnackBar({
                        message: data.message,
                        fixed: true,
                        status: "error",
                        position: "tc" // bl, tl, tr, br
                     });
                    
                      //alert(data.message)
                   }
                },
            });


})


$(document).on('click','#view_test',function(e) {

   let callback = e.target.getAttribute('data-callback')
   
   fetch(callback,{
      method: 'POST', // or 'PUT'
      headers: {
         'Content-Type': 'application/json',
      },
   
   })
   .then(response => response.json())
      .then(data => {
         console.log('Success:', data);
         if(data.status){
            const skipped = data.message.skipped
            $('#no_of_skipped').text(data.message.skipped)
            $('#no_of_attempted').text(data.message.attempted)
            $('#no_of_not_visited').text(`{{qstn_nos}}`-(data.message.attempted+ data.message.skipped))
         }
      })
      .catch((error) => {
         console.error('Error:', error);
      });


})

$(document).on('click','.chat__message__dt', function(e){
   
let url = e.target.getAttribute('data-url')
let title = e.target.getAttribute('data-title')


if(url && title){
$('#new_url').attr('src', url)
$('#new_title').text(title)

}

})


   $('.chat__message__dt').click(function () {
      $('.chat__message__dt').removeClass('active');
      $(this).toggleClass('active');
   });


   $('.menu--link').click(function () {
      $('.menu--link').removeClass('active');
      $(this).toggleClass('active');
   });

      
let getTestSummary = () => {

   readAllAns()
  
   //  const testState = localStorage.getItem('test_series_state')
   //  console.log(testState)
   //  var decrypted = CryptoJS.AES.decrypt(testState, key, { iv: iv });
   // console.log(decrypted.toString(CryptoJS.enc.Utf8));
   // $('#submit_test_series').submit()
}




</script>


</body>
</html>