<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		 <meta charset="utf-8" />
		 <meta name="author" content="www.frebsite.nl" />
		 <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

         <title>I-Magnus Academy | Best Online Coaching for Competitive and Recruitment Exams Preparation | Elearning   </title>
		 <!-- favicon
		============================================ -->
         <link rel="shortcut icon" type="image/x-icon" href="{{ app_url }}/static/courses_assets/img/fav.png">
         <!-- Custom CSS -->
         <link href="{{ app_url }}/static/courses_assets/css/styles.css" rel="stylesheet" />

		 <!-- Custom Color Option -->
		 <link href="{{ app_url }}/static/courses_assets/css/colors.css" rel="stylesheet" />
</head>

<!-- <div id="preloader"><div class="preloader"><span></span><span></span></div></div>-->


         <!-- ============================================================== -->
         <!-- Main wrapper - style you can find in pages.scss -->
         <!-- ============================================================== -->
         <div id="main-wrapper">

			 <!-- ============================ Page Title Start================================== -->
			<section class="page-title pt-0">
			 <div class="image-cover ed_detail_head lg theme-ov" style="background:#f4f4f4 url(https://im.indiatimes.in/media/content/2018/Nov/national_exam_1542712309.jpg);" data-overlay="9">
				 <div class="container">
					<div class="col-lg-12 col-md-12">
							 <div class="breadcrumbs-wrap">
								 <h1 class="breadcrumb-title">My Subscriptions</h1>
								 <nav aria-label="breadcrumb">
<!--									 <ol class="breadcrumb">-->
<!--										 <li class="breadcrumb-item"><a href="#" class="text-white">Home </a></li>-->
<!--										 <li class="breadcrumb-item active" aria-current="page">Courses </li>-->
<!--										 <li class="breadcrumb-item active" aria-current="page">Subscription Plan </li>-->
<!--									 </ol>-->
								 </nav>
							 </div>
						 </div>
				 </div>
			 </div>
			 </section>
			 <!-- ============================ Page Title End ================================== -->

			 <!-- ============================ Pricing Start ================================== -->
			 <section class="pt-0">

				 <div class="container">

					 <div class="row">

						 <!-- Single Package -->
						 {% for record in records %}


						 <div class="col-lg-4 col-md-4">
							 <div class="packages_wrapping">

								 <div class="packages_headers">
									 <i class=""></i>
									 <h4 class="packages_pr_title"> </h4>
									 <span class="packages_price-subtitle"> </span>

								 </div>
								 <div class="packages_price">
									 <h4 class="value">{{ record.course.name }}</h4>
								 </div>

								 <div class="packages_bottombody">
									 <a href="/student/dashboard/{{ record.course.id }}/" class="btn-pricing">View </a>
								 </div>

							 </div>
						 </div>

						{% endfor %}


					 </div>

				 </div>

			 </section>
			 <!-- ============================ Pricing End ================================== -->



		 <!-- ============================================================== -->
		 <!-- End Wrapper -->
		 <!-- ============================================================== -->

 <!-- ============================ Footer Start ================================== -->
			 <footer class="dark-footer skin-dark-footer">
				 <div>
					 <div class="container">
						 <div class="row">

							 <div class="col-lg-3 col-md-3">
								 <div class="footer-widget">
									 <div class="logo">
								       <h2 style="color: #fff;">I-Magnus</h2>
							         </div>
									 <div class="footer-add">
										 <ul>
									 <li>
										 <i class="fa fa-phone"></i>
										 <span>+91 9826297935 </span><br>
                                         <i class="fa fa-phone"></i>
										 <span>+91 9111665500 </span>
									 </li>
									 <li>
										 <i class="fa fa-envelope"></i>
										 <span>info@imagnus.in </span><br>
										  <i class="fa fa-envelope"></i>
										 <span>support@imagnus.in </span>
									 </li>
									 <li>
										 <i class="fa fa-map-marker"></i>
										 <span>174, Near Bombay Hospital, Indore, Madhya Pradesh 452010, India </span>
									 </li>
								 </ul>
									 </div>

								 </div>
							 </div>
							<div class="col-lg-3 col-md-3">
								 <div class="footer-widget">
									 <h4 class="widget-title">Our links </h4>
									 <ul class="text-white">
								 <li><a href="https://www.imagnus.in">Home </a></li>
								 <li><a href="https://www.imagnus.in/about_us">About Us </a></li>
								 <li><a href="https://www.imagnus.in/terms-conditions">terms and Conditions </a></li>
								 <li><a href="https://www.imagnus.in/privacy-policy">Privacy Policy </a></li>
								 <li><a href="https://www.imagnus.in/disclaimer">Disclaimer </a></li>
								 <li><a href="https://www.imagnus.in/contact-us">Contacts</a></li>
							 </ul>
								 </div>
							 </div>

							 <div class="col-lg-3 col-md-3">
								 <div class="footer-widget">
									 <h4 class="widget-title">Top Courses </h4>
									 <ul class="footer-menu">
								 <li><a href="https://www.imagnus.in/best-online-mp-constable-coaching-classes-in-indore">MP Constable </a></li>
								 <li><a href="https://www.imagnus.in/best-online-neet-coaching-classes-in-indore">NEET </a></li>
								 <li><a href="https://www.imagnus.in/best-online-nursing-coaching-classes-in-indore">Nursing </a></li>
								 <li><a href="https://www.imagnus.in/best-online-bank-po-coaching-classes-in-indore">Bank PO</a></li>
								 <li><a href="https://www.imagnus.in/best-online-aiims-coaching-classes-in-indore">AIIMS  </a></li>
								 <li><a href="https://www.imagnus.in/best-online-iit-jee-coaching-classes-in-indore">IIT-JEE  </a></li>
								 <li><a href="https://www.imagnus.in/best-online-upsc-coaching-classes-in-indore">UPSC  </a></li>
								 <li><a href="https://www.imagnus.in/best-online-ssc-coaching-classes-in-indore">SSC  </a></li>
							 </ul>
								 </div>
							 </div>


							 <div class="col-lg-3 col-md-12">
								 <div class="footer-widget">
									 <h4 class="widget-title">Download Apps </h4>
									 <a href="#" class="other-store-link">
										 <div class="other-store-app">
											 <div class="os-app-icon">
												 <i class="lni-playstore theme-cl"></i>
											 </div>
											 <div class="os-app-caps">
												Google Play
												 <span>Get It Now </span>
											 </div>
										 </div>
									 </a>
									 <a href="#" class="other-store-link">
										 <div class="other-store-app">
											 <div class="os-app-icon">
												 <i class="lni-apple theme-cl"></i>
											 </div>
											 <div class="os-app-caps">
												App Store
												 <span>Now it Available </span>
											 </div>
										 </div>
									 </a>
								 </div>
							 </div>

						 </div>
					 </div>
				 </div>

				 <div class="footer-bottom">
					 <div class="container">
						 <div class="row align-items-center">

							 <div class="col-lg-6 col-md-6">
								 <p class="mb-0">Copyright © I-Magnus Academy 2021. All rights reserved. </p>
							 </div>

							 <div class="col-lg-6 col-md-6 text-right">
								 <ul class="footer-bottom-social">
									 <li><a href="#"><i class="ti-facebook"></i></a></li>
									 <li><a href="#"><i class="ti-twitter"></i></a></li>
									 <li><a href="#"><i class="ti-instagram"></i></a></li>
									 <li><a href="#"><i class="ti-linkedin"></i></a></li>
								 </ul>
							 </div>

						 </div>
					 </div>
				 </div>
			 </footer>
			 <!-- ============================ Footer End ================================== -->
 <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


		 </div>

</body>
</html>