 {% extends "student_dashboard_base.html" %}
         {% block content %}
<script type="text/javascript">
$(document).ready(function(){

  document.fullScreenElement && null !== document.fullScreenElement || !document.mozFullScreen && !document.webkitIsFullScreen ? document.documentElement.requestFullScreen ? document.documentElement.requestFullScreen() : document.documentElement.mozRequestFullScreen ? document.documentElement.mozRequestFullScreen() : document.documentElement.webkitRequestFullScreen && document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT) : document.cancelFullScreen ? document.cancelFullScreen() : document.mozCancelFullScreen ? document.mozCancelFullScreen() : document.webkitCancelFullScreen && document.webkitCancelFullScreen()

// This default onbeforeunload event
window.onbeforeunload = function(){
    return "Do you want to leave?"
}

// A jQuery event (I think), which is triggered after "onbeforeunload"
$(window).unload(function(){
    //I will call my method
});
});
</script>
  <div id="enterFullscreen" class="sa4d25 dashboard-shell">
            <div class="container-fluid">
               <div class="dashboard-page-head">
                  <div>
                     <div class="dashboard-page-kicker">Assessment Mode</div>
                     <h1 class="dashboard-page-title">{{ title }}</h1>
                     <p class="dashboard-page-copy">
                        Stay focused in a distraction-free practice environment with
                        visible timing and question progress.
                     </p>
                  </div>
                  <div class="dashboard-page-badges">
                     <span class="dashboard-page-badge">{{ qstn_nos }} questions</span>
                     <span class="dashboard-page-badge">{{ time_duration }} minutes</span>
                     <span class="dashboard-page-badge">{{ category_name }}</span>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                     <div class="all_msg_bg">
                        <div class="row no-gutters">
                           <div class="col-xl-8 col-lg-7 col-md-12">
                              <div class="chatbox_right">
                                 <div class="chat_header">
                                    <div class="user-status">
                                       <div class="user">
                                          <img src="{{category_image}}" class="catg" alt="">
                                       </div>
                                       <p class="user-status-title"><span class="bold">{{title}} </span></p>
                                       <p class="user-status-tag online">{{course_name}} </p>
                                       <p class="user-status-tag online">{{category_name}} </p>

                                    </div>
                                 </div>


                                 <div  class="messages-line simplebar-content-wrapper2  scrollstyle_4">
                                    <div class="simplebar-content-wrapper activee">
                                       <div class="user-status">
                                          <div class="ques_item">
                                             <div class="ques_title">
                                                <span>Q. <span id="new_qsn_no">1</span> :- </span>
                                                <span id="new_qsn">{{ qstns[0].question }}</span>
                                             </div>
                                             <div class="ui form">
                                                <div class="grouped fields">
                                                   <div class="field fltr-radio">
                                                      <div class="ui radio checkbox checked">
                                                         <input type="radio" value="opt_1" name="example1" tabindex="0" class="hidden">
                                                         <label id="opt_1_text">{{ qstns[0].opt_1 }} </label>
                                                      </div>
                                                   </div>
                                                   <div class="field">
                                                      <div class="ui radio checkbox">
                                                         <input type="radio" value="opt_2" name="example1" tabindex="0" class="hidden">
                                                         <label id="opt_2_text">{{ qstns[0].opt_2 }} </label>
                                                      </div>
                                                   </div>
                                                   <div class="field">
                                                      <div class="ui radio checkbox">
                                                         <input type="radio" value="opt_3" name="example1" tabindex="0" class="hidden">
                                                         <label id="opt_3_text">{{ qstns[0].opt_3 }} </label>
                                                      </div>
                                                   </div>
                                                   <div class="field fltr-radio">
                                                      <div class="ui radio checkbox">
                                                         <input type="radio" value="opt_4" name="example1" tabindex="0" class="hidden">
                                                         <label id="opt_4_text">{{ qstns[0].opt_4 }} </label>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <button class="upload_btn" data-callback="/student/submit/testSeriesQstns/{{cid}}/{{tid}}/{{qstns[counter].id}}/{{qstns[counter+1].id}}/{{counter}}/" id="submit_question" title="submit" style="margin-left: 10px;">Save & Next</button>
                                 <button class="upload_btn sbmit" data-callback="/student/test/view_summary/{{cid}}/{{tid}}/" title="submit" data-toggle="modal" id="view_test" data-target="#myModal">Submit Test</button>


                              </div>
                           </div>
                           <div class="col-xl-4 col-lg-5 col-md-12">
                              <div class="msg_search">
                                 <div class="ui search focus">
                                    <div class="ui left icon input swdh11 swdh15">
                                       <div class="certi_form rght1528">
                                          <div class="test_timer_bg">
                                             <ul class="test_timer_left">
                                                <li>
                                                   <div class="timer_time">
                                                       <input type="hidden" id="display_no_qstns" value="{{ qstn_nos }} "/>
                                                      <h4>{{ qstn_nos }} </h4>
                                                      <p>Questions </p>
                                                   </div>
                                                </li>
                                                <li>
                                                   <div class="timer_time">
                                                      <h4 id="timer">{{ time_duration }}</h4>
                                                      <p>Minutes </p>
                                                   </div>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="simplebar-content-wrapper">
                                 <div class="group_messages">
                                    <div class="chat__message__dt active">
                                       <div class="user-status">
                                          {% for i in range(qstn_nos) %}
                                          <button class="btn btn-default steps_btn submit_question" data-callback="/student/submit/testSeriesQstns/{{cid}}/{{tid}}/{{qstns[i-1].id}}/{{qstns[i].id}}/{{i-1}}/" >{{i+1}}</button>
                                          {% endfor%}


                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <h4 class="text-center"> Submit your test</h4>
       <div class="table-responsive">
                        <table class="table ucp-table earning__table">
                           <thead class="thead-s">
                              <tr>
                                 <th class="text-center">No. of questions </th>
                                 <th class="text-center">Attempted </th>
                                 <th class="text-center">Skipped </th>
                                 <th class="text-center">Not Visited </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td class="text-center" id="no_of_questions">{{ qstn_nos }}</td>
                                 <td class="text-center" id="no_of_attempted"></td>
                                 <td class="text-center" id="no_of_skipped"> </td>
                                 <td class="text-center" id="no_of_not_visited"> </td>

                              </tr>

                           </tbody>
                        </table>
                     </div>
      </div>
      <div class="modal-footer">
         
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        <form id="submit_test_series" method="POST" action="/submit_test_series_result/">

         <input type="hidden" name="cid" value="{{cid}}" />
         <input type="hidden" name="tid" value="{{tid}}" />
         <input type="hidden" name="answer_state_data" id="answer_state_data"/>
         <button type="button" onclick="getTestSummary()" class="btn btn-success">Submit</button>
      </form>
      </div>
    </div>

  </div>
</div>

<script>




   function startTimer(duration, display) {
      var timer = duration, minutes, seconds;
      var x = setInterval(function () {
         minutes = parseInt(timer / 60, 10);
         seconds = parseInt(timer % 60, 10);
         minutes = minutes < 10 ? "0" + minutes : minutes;
         seconds = seconds < 10 ? "0" + seconds : seconds;
         display.textContent = minutes + ":" + seconds;

         if (--timer < 0) {
            //timer = duration;
            clearInterval(x);
            $('#myModal').modal('show')
         }
      }, 1000);
   }

   window.onload = function () {
      var y = $('#timer').text() * 60,
         display = document.querySelector('#timer');
      startTimer(y, display);
   };

</script>
    {% endblock %}
